@font-face {
  font-family: rabar13;
  src: url("./../font/Rabar013.ttf");
}
@font-face {
  font-family: rabar14;
  src: url("./../font/Rabar014.ttf");
}
@font-face {
  font-family: rabar15;
  src: url("./../font/Rabar015.ttf");
}
@font-face {
  font-family: vazirmedium;
  src: url("./../font/vazirmedium.ttf");
}
@font-face {
  font-family: vazirlight;
  src: url("./../font/vazirlight.ttf");
}

body {
  margin: 0;
  direction: rtl;
  margin-right: 10px;
  margin-left: 10px;
}

.pepu-text {
  font-weight: 900;
  color: rgb(128, 67, 249);
}
.papu-header {
  font-family: rabar13;
  font-size: 5em;
  color: 36156f;
  font-weight: 1000;
}
.papu-header-mob {
  font-family: rabar13;
  font-size: 3em;
  color: 36156f;
  font-weight: 1000;
}
.hero-image {
  height: 600px;
}
.apple,
.google {
  width: 200px;
}
.apple-mob,
.google-mob {
  width: 45%;
}
.pepu-desc {
  font-size: 1.5em;
  font-family: vazirlight;
  font-weight: 100;
}
.pepu-desc-mob {
  font-size:0.9em;
  font-family: vazirlight;
  font-weight: 100;
}

.course-image {
  width: 80%;
}


.pepu-slogan {
  font-family: vazirlight;
  font-size: 22px;
  color: rgb(54, 21, 111);
}
.pepu-slogan-mob {
  font-family: vazirlight;
  font-size: 1em;
  color: rgb(54, 21, 111);
}
.copyright {
  font-family: vazirlight;
  color: rgb(54, 21, 111);
}
.copyright-mob {
  font-family: vazirlight;
  color: rgb(54, 21, 111);
  font-size: 0.5em;
}

.footer-icons {
  background-color: rgb(54, 21, 111);
  border-radius: 1000px;
  padding: 10px;
  height: 35px;
  width: 35px;
  display: inline-block;
}
.footer-icons-mob {
  background-color: rgb(54, 21, 111);
  border-radius: 1000px;
  padding: 1em;
  height: 3em;
  width: 3em;
  display: inline-block;
}


.box {
  height: 40px;
  width: 40px;
  background-color: rgb(146, 65, 254);
}
.box-mob{
  display: none;
  height: 2em;
  width: 2em;
  border-radius: 16px;;
  background-color: rgb(146, 65, 254);
}
.papu-benefit {
  font-family: vazirlight;
  font-size: 18px;
  color: rgb(54, 21, 111);
  text-align: right !important;
}
.papu-benefit-mob {
  font-family: vazirlight;
  font-size: 0.9em;
  color: rgb(54, 21, 111);
  text-align: right !important;
}
.pepu-avatar-mob{
  width: 60%;
}

.footer-container{
  display: flex  !important;
}