@font-face {
  font-family: rabar13;
  src: url("./../font/Rabar013.ttf");
}
@font-face {
  font-family: rabar14;
  src: url("./../font/Rabar014.ttf");
}
@font-face {
  font-family: rabar15;
  src: url("./../font/Rabar015.ttf");
}
@font-face {
  font-family: vazirmedium;
  src: url("./../font/vazirmedium.ttf");
}
@font-face {
  font-family: vazirlight;
  src: url("./../font/vazirlight.ttf");
}

body {
  margin: 0;
  direction: rtl;
}
nav {
  background-color: rgb(252, 249, 255);
}

nav a {
  color: rgb(54, 21, 111);
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  font-family: vazirlight;
}
nav a:hover {
  color: rgb(128, 67, 249);
}

.pepu-text {
  font-weight: 900;
  color: rgb(128, 67, 249);
}
.papu-header {
  font-family: rabar15;
  font-size: 50px;
  color: 36156f;
  font-weight: 1000;
}
.hero-image {
  height: 600px;
}
.apple,
.google {
  width: 200px;
}
.pepu-desc {
  font-size: 25px;
  font-family: rabar15;
}
.chart-img {
  width: 500px;
  padding-top: 200px;
  padding-bottom: 200px;
}

.feature-icon {
  width: 100px;
}
.feature-text {
  font-family: rabar15;
  font-size: 25px;
  color: 65537d;
  font-weight: 300;
}
.feature-button {
  background-color: rgb(146, 65, 254);
  color: white;
  font-family: rabar15;
  font-size: 18px;
  border-radius: 10px;
  text-decoration: none;
  border-color: rgb(146, 65, 254);
}

.feature-button1 {
  padding-right: 150px;
}
.zansty-tab {
  color: rgb(78, 49, 129);
  font-family: rabar15;
  font-weight: 600;
  font-size: 60px;
}

.zansty-subject {
  color: rgb(78, 49, 129);
  font-family: rabar15;
  font-weight: 400;
  font-size: 30px;
}
.subject-option-zansty {
  font-family: rabar15;
  font-size: 30px;
  font-weight: 400px;
  padding-top: 40px;
  color: rgb(78, 49, 129);
}
.subject-option-wezhay {
  font-family: rabar15;
  font-size: 30px;
  font-weight: 400px;
  padding-top: 40px;
  color: rgb(78, 49, 129);
}
.course-image {
  width: 80%;
}

.papu-logo {
  height: 200px;
  width: 200px;
}

.pepu-slogan {
  font-family: rabar15;
  font-size: 22px;
  color: rgb(54, 21, 111);
}
.copyright {
  font-family: rabar15;
  color: rgb(54, 21, 111);
}

.footer-icons {
  background-color: rgb(54, 21, 111);
  border-radius: 1000px;
  padding: 10px;
  height: 35px;
  width: 35px;
  display: inline-block;
}


.box {
  height: 50px;
  width: 50px;
  background-color: rgb(146, 65, 254);
  border-radius: 10px;
  padding-right: 10px;
}
.papu-binift {
  font-family: rabar15;
  font-size: 20px;
  color: rgb(54, 21, 111);
  text-align: right !important;
}
.stun1 {
  margin-bottom: 200px;
}
.nusin-stun1 {
  margin-bottom: 200px;
}
.stun2 {
  margin-bottom: 200px;
}
.nusin-stun2 {
  margin-bottom: 200px;
}

.footer-container{
  display: flex  !important;
}