@font-face {
  font-family: rabar13;
  src: url("./font/Rabar013.ttf");
}
@font-face {
  font-family: rabar14;
  src: url("./font/Rabar014.ttf");
}
@font-face {
  font-family: rabar15;
  src: url("./font/Rabar015.ttf");
}
@font-face {
  font-family: vazirmedium;
  src: url("./font/vazirmedium.ttf");
}
@font-face {
  font-family: vazirlight;
  src: url("./font/vazirlight.ttf");
}
body {
  margin: 0;
}
.topnav {
  background-color: rgb(252, 249, 255);
  overflow: hidden;
  padding-left: 5%;
  padding-right: 5%;
}
.home {
  color: rgb(54, 21, 111);
  font-size: 20px !important;
}
.news {
  color: rgb(54, 21, 111);
  font-size: 20px !important;
}
.contact {
  color: rgb(54, 21, 111);
  font-size: 20px !important;
  text-align: center;
}

.papu {
  position: absolute;
  right: 0px;
  /* width: 100px; */
  color: rgb(128, 67, 249) !important;
  font-size: 30px !important;
  margin-right: 5%;
  font-family: vazirmedium !important;
  margin-top: -10px;
}

.topnav a {
  float: left;
  color: rgb(54, 21, 111);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: vazirlight;
}
.topnav a:hover {
  color: rgb(128, 67, 249);
}
