.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.pepu__logo {
  width: 20%;
  height: auto;
  margin-bottom: 60px;
}

.footer span {
  font-size: 22px;
  color: rgb(54, 21, 111);
  text-align: center;
}

.downloads {
  padding-top: 8px;
  padding-bottom: 90px;
  display: flex;
}

.downloads a {
  margin-left: 15px;
}

.downloads a img {
  width: 200px;
}

.copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
}

.copyright div > a {
  margin-left: 20px;
  font-size: 25px;
}

.copyright span {
  margin-top: 10px;
  font-size: 15px;
}

@media screen and (max-width: 767px) {
  .footer {
    margin-top: 100px;
  }
  .pepu__logo {
    width: 70%;
  }
  .footer span {
    font-size: 17px;
  }
  .downloads a img {
    width: 150px;
    margin-left: -5px;
    margin-right: 10px;
  }
  .copyright span {
    margin-top: 10px;
    font-size: 13px;
  }
}
